[core]
    editor = nvim
    pager = delta

[commit]
	gpgsign = true

[delta]
    line-numbers = true
    navigate = true  # use n and N to move between diff sections
    side-by-side = false
    syntax-theme = ansi

[diff]
    colorMoved = default

[gpg]
    format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3

[pull]
	rebase = true

[push]
    autoSetupRemote = true

[rerere]
	enabled = true

[rebase]
    autoStash = true
    updateRefs = true

[user]
    name = Sebastian Szyller
    email = contact@sebszyller.com
	signingkey = ~/.ssh/id_ed25519.pub

[tag]
	gpgsign = true

